* {
	margin: 0;
	padding: 0;
	/* color: #fff; */
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-image: url('../img/body-bg.png');
	background-size: cover;
}

/* Menu hamburger */

.header {
    border-bottom: 1px solid #E2E8F0;
    position: sticky;
    top: 0;
    z-index: 6;
    background-color: #ffff;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: -1rem 1.5rem 5.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    font-weight: 400;
    color: #fff;
}

.nav-link:hover {
    color: #B317E1
}

/* Section 1 */

.section-1-index {
	background-image: url("../img/hero-bg1.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 940px;
    position: relative;
}

.dark\:bgcolor {
     --tw-bg-opacity: 1;
    background: rgba(0 0 0.5) linear-gradient(109.6deg, rgba(119, 44, 232, 0.68) 11.5%, rgba(119,44,232,1.000) 91.2%);
    background-color: transparent;
}


.headtitle {
	padding-top: 10rem;
	padding-left: 12rem ;
    display: flex;
    width: 80rem;
    text-align: left;
}

.title {
    font-size: 4rem;
    line-height: 4rem;
    color: #ffffff;
    text-transform: uppercase;
}

.default {
	padding-top: 2rem;
	padding-left: 12rem; 
}

.heroimg {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 32%; 
}

.logoz {
	display: flex;
	width: 7vw;
}

.discover {
	padding-top: 2rem;
	padding-left: 13rem;
}

/* Section 2 */

.slider {
    width: 50rem;
    height: auto;
    margin: auto;
}

.slide {
    width: 110rem;
    height: auto;
    margin: auto;
}


/* Admin page */ 
input{
    width: 100%;
    height: auto;
}

form{
    gap: 3em;
}

#avatar{
    height: 3em;
    width: 3em;
}

footer{
    color: white
}

/* Class TOATS */
#errorUsername{
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgb(158, 240, 158);
    color: rgb(9, 94, 9);
    text-align: center;
    border-radius: 5px;
    padding: 15px;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50px;
  }
  
  #errorUsername.show{
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 50px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 50px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {top: 50px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {top: 50px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }
  
  .p-10 {
    padding: 2.5rem;
    height: 540px;
    width: 422px;
}

.scalecss {
    height: 20vh;
    width: 20vw;
}
  
  /* Classes TOATS END*/

.player {
    width: 89.5%;
    top: -6vh;
    position: relative;
    margin: auto;
}

.hmodal {
    height: 55rem;
    top: 9px;
}