* {
	margin: 0;
	padding: 0;
	color: #fff;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: no-repeat url('../img/body-bg.png');
}

/* Menu hamburger */

.header {
    border-bottom: 1px solid #E2E8F0;
    position: sticky;
    top: 0;
    z-index: 6;
    background-color: #ffff;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 1.5rem 5.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    font-weight: 400;
    color: #fff;
}

.nav-link:hover {
    color: #B317E1
}

/* Section 1 */

.section-1-index {
	background: no-repeat url("../img/hero-bg1.png");
	height: 110vh;
}

.heroimg {
	display: flex;
	justify-content: flex-end;
}

.heroimg img {
	padding: 0rem 4rem;
}

.logoz {
	display: flex;
	
}

